<div class="container">

  <form #form="ngForm" class="form-vertical" role="form" (ngSubmit)="analyzeUrl()">
    <div class="row">
      <div class="col-md-12 input-lg">
        <div class="input-group">
          <input required class="form-control" [(ngModel)]="excerptUrl"
                 type="url" name="searchText" placeholder="请输入URL....">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">分析</button>
          </span>
        </div>
      </div>
    </div>
  </form>

  <div class="container bl-ex-div-con" *ngIf="blog">
    <div class="col-md-7">
      <tabset>
        <tab heading="原文">
          <template tabHeading>
            <i class="glyphicon glyphicon-bell"></i>
          </template>
          <div [innerHTML]="blog.contentElement"></div>
        </tab>
        <tab heading="纯文字">
          <div>
            {{blog.content}}
          </div>
        </tab>
      </tabset>
    </div>
    <div class="col-md-offset-1 col-md-3">
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">详细信息</h3>
          </div>
          <div class="list-group">
            <ul class="bl-li-ul">
              <li class="list-group-item">
                <p title="{{blog.title}}">标题： {{blog.title}}</p>
              </li>
              <li class="list-group-item">
                <p>发布时间：{{blog.time}}</p>
              </li>
              <li class="list-group-item">
                <p title="{{blog.url}}">查看原文：<a href="{{blog.url}}" target="_blank">{{blog.url}}</a></p>
              </li>
              <li class="list-group-item">
                <button class="btn btn-success btn-sm btn-block">添加到收藏</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
