<div *ngIf="blog" class="bl-on-di-con">
  <div class="row">
    <div class="col-md-offset-1 col-md-7">
      <div>
        <h2 class="center-block">{{blog.title}}</h2>
        <p>{{blog.type}} {{blog.createTime}}</p>
      </div>

      <!--[innerHTML]="showContent" -->
      <div class="bl-on-di-show" [@flyIn]="'active'" [innerHTML]="showContent">
        {{showContent}}
      </div>
    </div>

    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">功 能</div>
        <div class="list-group">
          <ul class="bl-on-ul-gn">
            <li class="list-group-item" (click)="showOther(1)">原文</li>
            <li class="list-group-item" (click)="showOther(2)">纯文本</li>
            <li class="list-group-item" (click)="showOther(3)">大爆炸</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">统 计</div>
        <div class="list-group">
          <ul class="bl-on-ul-gn ">
            <li class="list-group-item">总字数：3241</li>
            <li class="list-group-item">总词数：928</li>
            <li class="list-group-item">包含词数：82</li>
            <li class="list-group-item">点击次数：29</li>
          </ul>
        </div>
      </div>

      <div *ngIf="scrollTop > 1000" class="bl-on-top" (click)="goTop()">
        <i class="fa fa-arrow-up"></i>
      </div>
    </div>

  </div>
</div>


