<div class="write-post-container">
  <div class="row">
    <div class="container">
      <form #form="ngForm" (ngSubmit)="form.form.valid && submitBlog()" novalidate class="form-horizontal" role="form">
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !title.valid }">
          <input type="text" required class="form-control" name="title" [(ngModel)]="blog.title" #title="ngModel"
                 placeholder="请输入标题....">
          <div *ngIf="form.submitted && !title.valid" class="text-danger">标题必须输入！</div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="form-group ">
              <input type="text" class="form-control" name="type" [(ngModel)]="blog.type"
                     placeholder="请输入或右边选择类别...">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control">
                <option *ngFor="let showType of typeList">{{showType.type}} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <textarea id="post_editor" class="form-control" rows="20"
                    placeholder="内容，最少140字，最多2万字。图片每张最大500K，每篇文章最多50张图。"></textarea>
          <iframe id="form_target" name="form_target" style="display:none"></iframe>
          <form id="file_upload_form" target="form_target" method="post" enctype="multipart/form-data"
                style="width:0;height:0;overflow:hidden">
            <input id="img_input" name="image" type="file" (change)="fileInputChangeHandler()">
          </form>
        </div>
        <button type="submit" class="btn btn-success">提交</button>
      </form>
    </div>
  </div>
</div>
