.bl-li-ul{
  padding:0;
  margin:0;
}

.bl-li-li{
  list-style: none;
  height: 70px;
  border-bottom: 1px dashed #d9d9d9;
  margin-bottom: 18px;
}

.bl-li-li i{
  color: #969696;
}

.bl-li-div-nav ul>li:hover{
  cursor:pointer;
  background-color: #f1f1f1;
}

.bl-li-ty-div:hover{
  cursor:pointer;
}


.bl-li-img-head{
  width:100%;
}

