.bl-li-ul{
  padding:0;
  margin:0;
}

.bl-li-li{
  list-style: none;
  height: 70px;
  border-bottom: 1px dashed #d9d9d9;
  margin-bottom: 18px;
}

.bl-li-li i{
  color: #969696;
}

.bl-li-div-nav ul>li:hover{
  cursor:pointer;
  background-color: rgba(59, 200, 154, 0.35);
}

.bl-li-ty-div:hover{
  cursor:pointer;
  background-color: #31ba92;
}

.panel-heading{
  background-color: #3bc699;
}

.bl-li-img-head{
  width:100%;
}

