<div class="background-img">
  <div class="in-center-sq">
    <div class="di-wi-head-my">
      <p>Wang HaiTao's Personal Website</p>
      <hr>
    </div>
    <div class="di-wi-cen">
      <ul class="di-nav-ul">
        <li><a routerLink="blog"  id="a-blog">blog</a></li>
        <li class="li-italic-ko">/</li>
        <li><a id="a-idea" href="javaScript:;">idea</a></li>
        <li class="li-italic-ko">/</li>
        <li><a id="a-api" href="javaScript:;">api</a></li>
        <li class="li-italic-ko">/</li>
        <li><a id="a-about" href="javaScript:;">about</a></li>
      </ul>
    </div>
  </div>
</div>
