<div id="background-img">
  <div class="in-center-sq">
    <div class="di-wi-head-my">
      <p>Wang HaiTao's Personal Website</p>
      <hr>
    </div>
    <div class="di-wi-cen">
      <ul class="di-nav-ul">
        <li><a routerLink="/blog" id="a-blog">blog</a></li>
        <li class="li-italic-ko">/</li>
        <li><a routerLink="/photo" id="a-photo">photo</a></li>
        <li class="li-italic-ko">/</li>
        <li><a routerLink="/api" id="a-api">api</a></li>
        <li class="li-italic-ko">/</li>
        <li><a routerLink="/about" id="a-about">about</a></li>
      </ul>
    </div>
  </div>
</div>
