<div class="background-img">
  <div class="in-center-sq">
    <div class="di-wi-head-my">
      <p>Wang HaiTao's Personal Website</p>
      <hr>
    </div>
    <div class="di-wi-cen">
      <ul class="di-nav-ul">
        <li [routerLink]="['/blog']" ><a id="a-blog">Blog</a></li>
        <li class="li-italic-ko">/</li>
        <li><a id="a-idea" href="javaScript:;">Idea</a></li>
        <li class="li-italic-ko">/</li>
        <li><a id="a-api" href="javaScript:;">API</a></li>
      </ul>
    </div>
  </div>
</div>
