.main-container {
  padding-top: 15px;
  min-height: 800px;
}

.nav > li > a {
  color: #666666;
}

.navbar-brand-my {
  color: #333333;
}

.navbar-brand-my:hover {
  cursor: pointer;
}

.nav > li.active,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  cursor: pointer;
  color: #333333;
  background-color: #d4d4d4;

}

.footer {
  text-align: left;
  padding: 40px 48px;
  background: #263238;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
}

.bl-nav-inp-sear {
  padding: 5px 10px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  border: 0;
  color: #fff;
  transition: background-color .3s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  background-color: transparent;
  outline: none;
}

.bl-nav-div-sear {
  padding: 0 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

